@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.specyfication {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-top: $section-border;
  border-bottom: $section-border;
  &--medium{
    font-size: 1.35rem;
    margin-top: 0;
    padding: 0;
    border-top: none;
    border-bottom: none;
  }
  &--large {
    width: 70%;
    justify-content: space-between;
    font-size: 2rem;
    @include media(tablet-large){
      width: 90%;
    }
  }
  &__item {
    display: flex;
    line-height: 3rem;
    &--medium{
      line-height: 2rem;
    }
    &--large {
      width: 100%;
      @include media(tablet-large){
        font-size: 2.2rem;
      }
    }
    &--large:nth-child(2n + 1) {
      background-color: $background-color;
    }
  }
  &__name {
    display: block;
    color: $light-gray;
    &--large {
      width: 50%;
      padding-left: 1rem;
    }
  }
  &__value {
    display: block;
    margin-left: 1rem;
    &--large {
      display: block;
      width: 50%;
    }
  }
}
