@import "../../../styles/variables.scss";

.specyfication {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1.5rem 0;
  border-top: $section-border;
  border-bottom: $section-border;
  &__item {
    line-height: 3rem;
  }
  &__item::first-letter {
    text-transform: uppercase;
  }
  &__name {
    color: $light-gray;
  }
  &__value {
    margin-left: 1rem;
  }
}
