@import "../../../styles/variables.scss";

.specyfication {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1.5rem 0;
  border-top: $section-border;
  border-bottom: $section-border;
  &--large {
    width: 50%;
    justify-content: space-between;
    font-size: 2rem;
  }
  &__item {
    display: flex;
    line-height: 3rem;
  }
  &__item--large {
    width: 100%;
  }
  &__item--large:nth-child(2n + 1) {
    background-color: $background-color;
  }
  &__name {
    display: block;
    color: $light-gray;
  }
  &__name--large {
    width: 50%;
  }
  &__value {
    display: block;
    margin-left: 1rem;
  }
  &__value--large {
    display: block;
    width: 50%;
  }
}
