@import "../../styles/variables.scss";

.submit-button{
    height: 6rem;
    padding: 2rem;
    font-size: 1.8rem;
    transition: .2s;
    color: white;
    background-color: $main-color;
    border-radius: 10px;
    border: none;
    &--large{
        width: 95%;
    }
    &--small{
        padding: 0;
        font-size: 1.6rem;
        width: 10rem;
        height: 4rem;
    }
    &:hover{
        background-color: $main-color-hover;
    }
}