@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.submit-button {
  transition: 0.2s;
  color: white;
  background-color: $main-color;
  border-radius: 10px;
  border: none;
  &--large {
    height: 6rem;
    width: 32rem;
    font-size: 1.9rem;
  }
  &--medium {
    height: 6rem;
    width: 30rem;
    font-size: 1.8rem;
  }
  &--small {
    padding: 0;
    font-size: 1.6rem;
    width: 10rem;
    height: 5rem;
  }
  &--center {
    margin: 0 auto;
  }
  &:hover {
    background-color: $main-color-hover;
  }
}
