@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.select-page {
  display: grid;
  grid-template-areas: "button-left page button-right";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  &__button {
    border-radius: 50%;
    border: none;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    background-color: $background-color;
    cursor: pointer;
    @include media(tablet-large) {
      width: 6rem;
      height: 6rem;
      font-size: 2rem;
    }
    &--hide {
      display: none;
    }
  }
  &__button--left {
    grid-area: button-left;
  }
  &__button--right {
    grid-area: button-right;
  }
  &__current {
    grid-area: page;
    font-size: 2rem;
    text-align: center;
    @include media(tablet-large) {
      font-size: 3rem;
    }
  }
}
