@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.product-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50rem;
  padding: 2rem;
  box-shadow: $basic-box-shadow;
  border-radius: $border-radius;
  aspect-ratio: 1/1;
  @include media(tablet-large) {
    margin: 0 auto;
    padding: 2rem;
  }
  &__img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}