@import "../../../styles/variables.scss";

.product-details {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    &__id {
      color: $light-gray;
    }
    &__info {
      display: flex;
      justify-content: space-between;
    }
    &__name {
      font-weight: $font-weight;
    }
  }