@import "../../../styles/variables.scss";

.product-slider {
  flex-basis: 40%;
  height: 100%;
  box-shadow: $basic-box-shadow;
  border-radius: $border-radius;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
