@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr;
  grid-template-rows: auto;
  gap: 3rem;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 2rem;
  margin-top: 5rem;
  border-radius: $border-radius;
  box-shadow: $basic-box-shadow;
  @include media(tablet-large) {
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows:  60rem auto auto;;
  }
}
