@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.product-details {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  padding: 2rem;
  &__container {
    display: flex;
    flex-direction: column;
    @include media(tablet-large) {
      flex-direction: row;
      justify-content: space-between;
    }
    @include media(smartphone-large) {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__id {
    color: $light-gray;
  }
  &__info {
    display: flex;
    justify-content: space-between;
  }
  &__name {
    font-weight: $font-weight;
  }
}
