@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.purchase-bar {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: $basic-box-shadow;
  border-radius: $border-radius;
  &__panel {
    display: flex;
    flex-direction: column;
    border-bottom: $section-border;
    @include media(tablet-large) {
      padding: 2rem;
    }
  }
  &__price {
    display: block;
    flex-basis: 50%;
    width: 100%;
    font-size: 3.5rem;
    text-align: right;
    @include media(tablet-large) {
      font-size: 4rem;
    }
  }
  &__buttons {
    flex-basis: 50%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
