@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.last-watched {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: $section-margin-top;
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: $basic-box-shadow;
  background-color: white;
  min-height: 20rem;
  @include media(smartphone-large) {
    min-height: 30rem;
  }
  &__header {
    margin-left: 2rem;
    line-height: 5rem;
    font-weight: $font-weight;
    @include media(tablet-large) {
      font-size: 3rem;
      text-align: center;
      margin-left: 0;
    }
    @include media(smartphone) {
      font-size: 4rem;
    }
  }
  &__content {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    align-items: center;
    border-top: $section-border;
    border-bottom: $section-border;
    &::-webkit-scrollbar {
      height: 0rem;
    }
  }
}
