@import "../../styles/mixins.scss";

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 70rem;
  flex-grow: 1;
  margin-top: 15rem;
  overflow-x: hidden;
  @include media(tablet) {
    margin-top: 10rem;
  }
  &--login {
    margin-top: 0;
  }
}
