@import "../../styles/variables.scss";

.bestselers {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: $section-margin-top;
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: $basic-box-shadow;
  background-color: white;
  &__header {
    margin-left: 2rem;
    line-height: 5rem;
    font-weight: $font-weight;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: $section-border;
    border-bottom: $section-border;
  }
}