@import "../../styles/variables.scss";

.filter{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-basis: 20%;
    min-height: 60rem;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $basic-box-shadow;
}