@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.delivery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  &__data {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    padding: 2rem;
    height: min-content;
    @include media(tablet) {
      flex-basis: 90%;
    }
  }
  &__label {
    font-size: 2rem;
    font-weight: $font-weight;
    color: $light-gray;
    margin-top: 1rem;
    @include media(tablet) {
      font-size: 2.5rem;
    }
    &--small {
      font-size: 1.4rem;
      color: $light-gray;
      margin-left: 2rem;
      @include media(tablet) {
        font-size: 2rem;
      }
    }
  }
  &__input {
    width: 90%;
    font-weight: 300;
    height: 3rem;
    padding: 1rem;
    padding-left: 1.5rem;
    font-size: 1.7rem;
    margin: 0.8rem;
    border-radius: 30px;
    border: 1px solid $light-gray;
    @include media(tablet) {
      font-size: 2rem;
    }
    &:focus {
      outline: 2px solid $main-color;
      border: none;
    }
    &--invalid {
      border: 2px solid red !important;
      color: red;
      animation: invalid 0.2s forwards;
    }
  }
  &__method {
    display: flex;
    flex-direction: column;
  }
}
