@import "../../styles/variables.scss";

.method-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1.5rem;
  transition: 0.2s;
  border-radius: $border-radius;
  border: 1px solid $light-gray;
  cursor: pointer;
  &:hover {
    background-color: $background-color;
  }
  &--current{
      border: 2px solid $main-color;
  }
  &__icon {
    font-size: 2.4rem;
    color: $main-color;
  }
}
