@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.summary {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  @include media(smartphone-large) {
    flex-direction: column;
  }
  &__container {
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    margin: 2rem;
  }
  &__title {
    font-size: 2rem;
    color: $light-gray;
  }
  &__totalprice {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: $font-weight;
  }
  &__text {
    font-size: 2rem;
    padding: 0.3rem;
  }
  &__label {
    font-weight: $font-weight;
    margin-top: 1rem;
  }
}
