@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.control{
    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        cursor: pointer;
    }
    &__button:hover &__button-text{
        text-decoration: underline;
    }
    &__button:hover &__button-icon{
        color: $main-color-hover;
    }
    &__button-icon{
        font-size: 2.5rem;
        transition: .3s;
        color: $main-color;
        @include media(tablet-large){
        }
    }
    &__button-text{
        font-size: 1.6rem;
        margin-left: 1rem;
        @include media(tablet-large){
            font-size: 2rem;
        }
    }
}