@import "../../styles/variables.scss";
@import "./HeaderVariables.scss";
@import "../../styles/mixins.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // height: $header-height;
  background-color: white;
  &--hide{
    display: none;
  }
  &__container {
    display: flex;
    justify-content: center;
    width: inherit;
    height: $header-main-height;
    box-shadow: $basic-box-shadow;
    // overflow: hidden;
    background-color: white;
    z-index: 3;
  }
  &__container--fixed {
    position: fixed;
  }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    max-width: $content-width-limit;
    height: inherit;
    @include media(tablet-large){
      justify-content: space-around;
    }
  }
}
