@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  z-index: 10;
  &--hide {
    display: none;
  }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-shadow: $basic-box-shadow;
    z-index: 11;
    background-color: white;
    @include media(tablet-large) {
      justify-content: space-around;
    }
  }
}
