@import "../../styles/variables.scss";
@import "./HeaderVariables.scss";

.header {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: $header-height;
    background-color: white;
  }
  &__main {
    display: flex;
    justify-content: center;
    width: inherit;
    height: $header-main-height;
    box-shadow: $basic-box-shadow;
    overflow: hidden;
  }
  &--fixed {
    position: fixed;
  }
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    max-width: $content-width-limit;
    height: inherit;
  }
}

.logo {
  display: block;
  width: 24rem;
  height: 8rem;
  padding: 1rem;
  cursor: pointer;
}
