.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 24rem;
    height: 8rem;
    padding: 1rem;
    cursor: pointer;
  }