@import "../../styles/variables.scss";
@import "./HeaderVariables.scss";

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
  height: $header-nav-height;
  box-shadow: $basic-box-shadow;
  margin-top: $header-main-height;

  &__content {
    display: flex;
    height: inherit;
    width: inherit;
    max-width: $content-width-limit;
  }
  &__item {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    transition: 0.1s;
    cursor: pointer;
  }
  &__item:hover .list__item--show {
    border-bottom: 3px solid $main-color;
    color: $main-color;
    font-weight: $font-weight;
    z-index: 2;
  }
  &__item:hover .list__item--hide {
    display: block;
  }
}

.list {
  &__item {
    line-height: $header-nav-height;
    width: 100%;
    text-align: center;
  }
  &__item--hide {
    border-bottom: $thin-border;
    background-color: white;
    display: none;
    z-index: 1;
  }
  &__item--hide:hover {
    color: $main-color;
    font-weight: $font-weight;
  }
}
