@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.description {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 5rem;
  padding: 2rem;
  width: 100%;
  border-radius: $border-radius;
  box-shadow: $basic-box-shadow;
  &__content {
    display: flex;
    flex-direction: column;
    width: 75%;
    @include media(tablet-large) {
      width: 90%;
    }
  }
}
