@import "../../../styles/variables.scss";

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  transition: 0.3s;
  border-radius: $border-radius;
  cursor: pointer;
  &:hover .cart-button{
    opacity: 1;
  }
  &:hover .wish-button{
    opacity: 1;
  }
  &:hover {
    box-shadow: $hover-box-shadow;
  }
  &__element {
    font-size: 1.4rem;
  }
  &__image {
    flex-grow: 1;
    margin: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__title {
    text-align: center;
    margin: 0 1rem;
  }
  &__price {
    margin: 1rem 2rem;
    font-weight: $font-weight;
  }
}
