@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  @include media(tablet-large){
    width: 25rem;
    height: 25rem;
  }
  @include media(smartphone-large){
    width: 35rem;
    height: 35rem;
  }
  @include media(smartphone){
    width: 40rem;
    height: 40rem;
  }
  &--medium{
    width: 30rem;
    height: 40rem;
    padding: 2rem;
  }
  &-container{
    position: relative;
    height: min-content;
    width: min-content;
    transition: 0.3s;
    border-radius: $border-radius;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    &:hover .cart-button{
      opacity: 1;
    }
    &:hover .wish-button{
      opacity: 1;
    }
    &:hover {
      box-shadow: $hover-box-shadow;
    }
  }
  &__element {
    font-size: 1.4rem;
    &--medium{
      font-size: 1.6rem;
    }
  }
  &__image {
    flex-basis: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &--medium{
      flex-basis: 50%;
    }
  }
  &__title {
    text-align: center;
    @include media(tablet-large){
      font-size: 1.8rem;
    }
    @include media(smartphone){
     font-size: 2.2rem;
    }
    &--medium{
      font-size: 1.6rem;
      margin: 0;
      margin-bottom: .5rem;
      text-align: left;
    }
  }
  &__price {
    font-weight: $font-weight;
    margin-top: auto;
    padding-left: 1rem;
    @include media(tablet-large){
     font-size: 1.8rem;
    }
    @include media(smartphone){
      font-size: 2.5rem;
    }
    &--medium{
      margin-top: 2rem;
      font-size: 2rem;
    }
  }
}
