@import "../../styles/variables.scss";

.own-products{
    display: flex;
    flex-grow: 1;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }
    &__allert{
        display: block;
        color: $light-gray;
        margin-top: 5rem;
        text-align: center;
        font-weight: $font-weight;    }
}