@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.navigation {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6rem;
  bottom: 1rem;
  transition: .2s;
  box-shadow: $basic-box-shadow;
  @include media(tablet) {
    flex-direction: column;
    height: max-content;
  }
  // &--hide {
  //   top: auto;
  //   bottom: 100% !important;
  // }
}