@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.wishlist {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  margin-top: 5rem;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $basic-box-shadow;
  &__header {
    padding: 2rem;
    border-bottom: 1px solid $background-color;
  }
  &__text {
    font-size: 2.3rem;
    font-weight: $font-weight;
  }
  &__container {
    display: flex;
    margin: 0 9rem;
    flex-wrap: wrap;
    @include media(tablet-large) {
      justify-content: space-around;
    }
  }
}
