@import "../../styles/variables.scss";

.recomended {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  border-radius: $border-radius;
  box-shadow: $basic-box-shadow;
  background-color: white;
}
