@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.recomended {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  border-radius: $border-radius;
  box-shadow: $basic-box-shadow;
  background-color: white;
  min-height: 60rem;
  @include media(smartphone-large) {
    min-height: 30rem;
  }
}
