@import "../../styles/variables.scss";

.recomended-list {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  border-top: $section-border;
  border-bottom: $section-border;
  &__header {
    line-height: 7rem;
    font-weight: $font-weight;
    margin-left: 2rem;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    transition: 0.3s;
    border-radius: $border-radius;
    cursor: pointer;
  }
  &__item:hover &__button{
    opacity: 1;
  }
  &__item:hover {
    box-shadow: $hover-box-shadow;
  }
  &__element {
    font-size: 1.4rem;
  }
  &__image {
    flex-grow: 1;
    margin: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__title {
    text-align: center;
    margin: 0 1rem;
  }
  &__price {
    margin: 1rem 2rem;
    font-weight: $font-weight;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    width: 3rem;
    height: 3rem;
    transition: .3s;
    font-size: 1.5rem;
    padding: 1.2rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__button--favourites {
    right: 1rem;
    top: 1rem;
    color: $light-gray;
  }
  &__button--favourites:hover {
    background-color: $background-color;
  }
  &__button--cartadd {
      color: $green;
      right: 1rem;
      bottom: 1rem;
      border: 1px solid $green;
    }
    &__button--cartadd:hover {
      background-color: $green;
      color: white;
      border: 1px solid $light-gray;
    }
}
