@import "../../styles/variables.scss";

.recomended-list {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  border-top: $section-border;
  border-bottom: $section-border;
  &__header {
    line-height: 7rem;
    font-weight: $font-weight;
    margin-left: 2rem;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
