@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.recomended-list {
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  border-top: $section-border;
  border-bottom: $section-border;
  @include media(tablet-large){
    margin-top: 2rem;
    flex-basis: 100%;
  }
  &__header {
    line-height: 7rem;
    font-weight: $font-weight;
    margin-left: 2rem;
    @include media(tablet-large){
      font-size: 3rem;
      text-align: center;
      margin-left: 0;
    }
    @include media(smartphone){
      font-size: 4rem;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
