@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.price-items {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  &--hide {
    display: none;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 3rem;
  }
  &__text {
    font-size: 1.8rem;
    font-weight: $font-weight;
    color: $light-gray;
    @include media(tablet-large) {
      font-size: 2.3rem;
    }
  }
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: $light-gray;
    border-radius: 30px;
  }
}
