@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.product-reputation {
  font-size: 1.8rem;
  &--medium {
    font-size: 1.5rem;
    @include media(tablet-large) {
      font-size: 2rem;
    }
  }
  &__stars {
    color: #f7b000;
  }
  &__text {
    color: $light-gray;
    margin-left: 0.5rem;
  }
}
