@import "../../styles/variables.scss";

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    display: flex;
    flex-direction: column;
    width: 50rem;
    max-height: 80rem;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: $basic-box-shadow;
    margin-top: 2rem;
    padding: 2rem;
  }
  &__header {
    display: flex;
    justify-content: center;
    padding: 1rem 3rem;
    border-bottom: 1px solid $background-color;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
