@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.user-form {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  &__form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 5rem;
    justify-content: space-around;
    @include media(tablet-large) {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      padding-bottom: 10rem;
    }
  }
  &__container {
    flex-basis: 30%;
    @include media(tablet-large) {
      width: 60%;
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: $font-weight;
    color: $light-gray;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  &__label {
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 2rem;
  }
  &__input {
    margin-top: 0.5rem;
    width: 90%;
    font-weight: 300;
    height: 3rem;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 30px;
    border: 1px solid $light-gray;
    @include media(tablet-large) {
      width: 100%;
    }
    &:focus {
      outline: 2px solid $main-color;
      border: none;
    }
  }
  &__buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 21rem;
    right: 3rem;
    bottom: 5rem;
  }
}
