@import "../../styles/variables.scss";

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 25%;
  overflow-x: auto;
  &__content {
    min-width: 35rem;
    height: 85%;
    border-radius: $border-radius;
    box-shadow: $basic-box-shadow;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
    cursor: pointer;
  }
  &__content--active {
    border: 4px solid $main-color;
  }
  &::-webkit-scrollbar {
    height: 0rem;
  }
}
