@import "../../styles/variables.scss";

.preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  &__content {
    width: 40rem;
    height: 13rem;
    border-radius: $border-radius;
    box-shadow: $basic-box-shadow;
    border: 1px solid $background-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1rem;
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    height: 0rem;
  }
}
