@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.slider{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65rem;
    margin-top: 3rem;
    overflow: hidden;
    @include media(smartphone-large){
        height: 45rem;
    }
    @include media(smartphone){
        height: 40rem;
    }
}